    #login {
      width: 200px;
      border: 1px solid #d6d7da;
      padding: 0px 15px 15px 15px;
      border-radius: 5px;
      font-family: arial;
      line-height: 16px;
      color: #333333;
      font-size: 14px;
      background: #ffffff;
      margin: 100px auto;
      margin-left:10%;
      margin-bottom:30% ;
      border: 2px solid red;
      margin-top: 4%;
      height: 80%;
     
    }
    #username{
      color: #333333;
      text-align: justify;
    }
    
    #pass{
      color: #333333;
      text-align: justify;  
    }
    
    .loginform label, .loginform input {
      display: block;
      font-weight: bolder;
      width: 50%;
      color: rgba(42, 21, 162, 0.758);
      text-align: left;
      font-size: 13px;
      letter-spacing: normal  ;
    }
    .b1> .loginform label, .loginform input {
      text-align: center;
      color: white;
      font-weight: bolder;
    }

    .loginform input {
      padding: 10px;
      border: solid 1px #BDC7D8;
    
    }
    
    .button:hover{
     
      background-color:rgba(42, 21, 162, 0.758);
    }
    .button {
      background-color: blue;
      border-color: #3ac162;
      font-weight: bold;
      max-width: 50%;
      max-height: 50%;
      color: #ffffff;
    }
    
    .errorMsg {
      color: #cc0000;
      margin-bottom: 12px;
    }
    
    a{
      color:gray ;
      align-content: center;
      text-decoration: none;
    }
    
    a:hover{
      color:rgba(42, 21, 162, 0.758);
    }
    .sucessMsg {
      color: #6B8E23;
      margin-bottom: 10px;
    }
    
    .split1 {
      height: 100%;
      width: 48%;
      position: fixed;
      z-index: 1;
      top: 0;
      overflow-x: hidden;
      padding-top: 20px;
      
    }
    
    .left1 {
      left: 0;
      background-color: white ;
      margin-left: 2%  ;
      overflow: hidden;
    }
    
    .right1 {
      right: 0;
      background-color:rgba(42, 21, 162, 0.758) ;
    }
    
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
    
      text-align: center;
    }
  h2,label{
    color: rgba(42, 21, 162, 0.758);

  }
  