{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}Home{% endblock title %}</title>

    <meta content="" name="description" />
    <meta content="" name="keywords" />

    {% block stylesheets %}{% endblock stylesheets%}
  </head>
  <body>
    {% block content %} {% endblock content %}
    <br />
    {% block javascripts %}{% endblock javascripts %}
  </body>
</html>
