#register {
  width: 300px;
  border: 1px solid #d6d7da;
  padding: 0px 15px 15px 15px;
  border-radius: 5px;
  font-family: arial;
  line-height: 16px;
  color: #333333;
  font-size: 14px;
  background: #ffffff;
  margin: 100px auto;
  margin-left: 10%;
  margin-bottom: 30%;
  margin-top: 4%;
  height: 80%;
}

.registerform{
  margin-bottom: 10%;
  margin-top: 10%;
  max-width: 50%;
}
.registerform label,
.registerform input {
  display: block;
  margin-bottom: 10px;
  width: 90%;
  font-weight: bolder;
  color: rgba(42, 21, 162, 0.758);
  text-align: left;
  letter-spacing: normal;
}

.registerform input {
  padding: 10px;
  border: solid 1px #bdc7d8;
  font-weight: bolder;
}

.buttonregister {
  /* background-color: #00bfff;
  border-color: #3ac162;
  font-weight: bold;
  padding: 12px 15px;
  color: #ffffff; */
  background-color: blue;
  border-color: #3ac162;
  font-weight: bold;
  max-width: 50%;
  max-height: 50%;
  color: #ffffff;
}

.buttonregister:hover{
  background-color:rgba(42, 21, 162, 0.758);
}

.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}

a {
  color: gray;
  align-content: center;
  text-decoration: none;
}

a:hover {
  color:rgba(42, 21, 162, 0.758);
}

.sucessMsg {
  color: #6b8e23;
  margin-bottom: 10px;
}

.split2 {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
#rf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 5%;
  margin-bottom: 10%;
  margin-right: 50%;
}
#rf > form {
  margin: 0;
  max-width: 80%;
  margin-bottom: 10%;
}

.left2 {
  left: 0;
  width: 50%;
  text-align: center;
  /* overflow: hidden; */
}

.right2 {
  right: 0;
  background-color:rgba(42, 21, 162, 0.758) ;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}


#name1{
  color: #333333;
  text-align: justify;
}

#pass1{
  color: #333333;
  text-align: justify;  
}

#newpass1{
  color: #333333;
  text-align: justify;  
}

#email1{
  color: #333333;
  text-align: justify;  
}

#mob1{
  color: #333333;
  text-align: justify;  
}

